.entry-thumbnail {
  min-height: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.entry-name {
  display: inline-block;
  vertical-align: middle;
}

.chats-map {
  height: calc(100vh - 52px);
  width: calc(100vw - 400px);
  display: inline-block;
}

.chats-table {
  height: calc(100vh - 52px);
  overflow-y: scroll;
  display: inline-block;
  width: 400px;
  transition: width 0.5s;
}

.chats-table.expanded {
  width: 100%;
}

.expand-button {
  z-index: 1;
  position: absolute;
  transition: left 0.5s;
  top: 100px;
  left: 400px;
  width: 25px;
  height: 43px;
  border: 1px solid hsl(0, 0%, 86%);
  background-color: white;
  border-left: none;
  text-align: center;
  padding-top: 9px;
}

.expand-button.right {
  right: 100px;
  left: calc(100vw - 25px);
}
