.entry-thumbnail {
  min-height: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.entry-cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 0;
  overflow: hidden;
}

.entry-name {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 80px);
}

.chats-map {
  height: calc(100vh - 52px);
  width: 100%;
  display: inline-block;
}

.chats-table {
  position: absolute;
  top: 52;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 0;
  height: 0;
  transition: min-height 0.5s;
  display: inline-block;
  overflow-y: scroll;
  background: white;
}

.chats-table.expanded {
  min-height: calc(100vh - 52px);
  width: 100%;
}

.expand-button {
  position: absolute;
  width: 43px;
  height: 25px;
  bottom: 0;
  left: calc(50% - 21.5px);
  border: 1px solid hsl(0, 0%, 86%);
  text-align: center;
  cursor: pointer;
  z-index: 2;
  transition: all 0.5s;
  transition-property: bottom, left;
  background-color: white;
}

.expand-button.reverse {
  bottom: calc(100vh - 25px - 52px);
}

.button-cell {
  display: inline-block;
  vertical-align: middle;
  color: white;
  width: 40px;
  height: 40px;
  background-color: #363636;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
  z-index: 3;
}

.button-cell:hover {
  background: linear-gradient(to right bottom, #8f29ba, #5c66c9);
}

.entry-information {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.entry-information.extended {
  height: auto;
}

@media only screen and (min-width : 768px) {
  .chats-table {
    transition: width 0.5s;
    width: 400px;
    height: calc(100vh - 52px);
    position: relative;
  }

  .chats-table.expanded {
    width: 100%;
  }

  .expand-button {
    transition: left 0.5s;
    top: 100px;
    left: calc(100vw - 25px);
    width: 25px;
    height: 43px;
    padding-top: 9px;
    border-left: 1px solid hsl(0, 0%, 86%);
    border-right: none;
  }

  .expand-button.reverse {
    right: 100px;
    left: 400px;
    border-left: none;
  }

  .chats-map {
    position: absolute;
    left: 400;
    top: 52;
    height: calc(100vh - 52px);
    width: calc(100vw - 400px);
  }
}
